.info-section {
    background: url("./../../img/info-blocks/bg-1.jpg");
    background-size: cover;
    background-position: center;
}

.info-section__row {

}

.info-section__title {

}

.button {

}